{% include 'adminbase.html.twig' %}
       {% block main %}
            <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                  
                    <div class="ecommerce-widget">

                       
                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Kyc Requests</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                    
                                                        <th class="border-0">Name</th>
                                                         <th class="border-0">Image</th> 
                                                         <th class="border-0">Action</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   {% for plan in plans %}
                                                    <tr>
                                                    
                                                        <td> {{plan.user.fullname}}</td>
                                                        <td> <a href="https://forexon.net/uploads/{{plan.image}}">identity image</a></td>
                                                        <td><form action="" method="post"><input type="text" name="id" value="{{plan.id}}" hidden> <input type="submit" class="btn btn-primary btn-lg btn-block" name="verify" value="verify"><input type="submit" name="delete" class="btn btn-primary btn-lg btn-block" value="delete"></form></td>
                                                       
                                                       
                                                       
                                                    </tr>
                                                   {% endfor %}
                                                </tbody>
                                                  {{ knp_pagination_render(plans) }}     
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->

    
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
       {% endblock %}
    